.bg{
    --pri:hsla(0, 0%, 99%, 0.671);
    --sec:hsla(66, 55%, 85%, 0.336);
    background:  url('./images/flaticon-svg/svg/transac.jpg') no-repeat center center/cover;
 }
          .card-body {
            background-color: hsla(330, 27%, 94%, 0.836)
        }
        .container {
            margin-top: 40px;
            margin-bottom: 40px
        }